@font-face {
  font-family: DIN;
  src: url("/ee-seminar/font/DIN_OT/DINOT-Light.otf") format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: DIN;
  src: url("/ee-seminar/font/DIN_OT/DINOT.otf") format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: DIN;
  src: url("/ee-seminar/font/DIN_OT/DINOT-Medium.otf") format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: DIN;
  src: url("/ee-seminar/font/DIN_OT/DINOT-Bold.otf") format('opentype');
  font-weight: 700;
}
a {
  color: inherit;
}
a:active {
  color: #7a8098;
}
* {
  margin: 0;
  padding: 0;
}
html,
body {
  min-height: 100%;
  height: 100%;
  max-height: 100%;
}
body {
  font-family: DIN;
  font-weight: 300;
  font-size: 13pt;
  background-color: #111216;
  color: #f7f7f9;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding-bottom: 0.2em;
}
ul {
  padding-left: 2.5rem;
}
p {
  padding-bottom: 0.5rem;
}
#container {
  display: flex;
  height: 100%;
  max-height: 100%;
}
#sidebar {
  color: #111216;
  background-color: #f7f7f9;
  flex: 0 0 14rem;
}
#sidebar a.home {
  text-align: center;
  text-decoration: none;
}
#main {
  padding: 1rem;
  flex: 0 1 auto;
  width: 100%;
  overflow: scroll;
}
ul#class-list {
  padding: 0;
  list-style-type: none;
}
ul#class-list a {
  text-decoration: none;
}
ul#class-list li {
  box-sizing: border-box;
  padding: 0.6rem;
  padding-left: 1rem;
  width: 100%;
}
ul#class-list li.selected,
ul#class-list li:hover {
  color: #f7f7f9;
  background-color: #111216;
}
#main.post .whiteboard * {
  width: 100%;
}
#main.post img {
  width: 50%;
  float: right;
  clear: both;
}
#main.post blockquote {
  font-style: italic;
  font-size: 1.5rem;
  color: #bebece;
}
